body {
  background-color: #f7f7f7;
}

.header {
  color: black;
  cursor: pointer;
}

#landingpage {
  color: white;
  text-align: center;
}

#main {
  color: white;
  text-align: left;
  background-color: dimgray;
}

#addquestion {
  background-color: white;
}

#contactus {
  text-align: center;
  text-emphasis: bold;
  font-size: 20px;
  color: aqua;
}

#headerword {
  color: black;
  text-align: center;
  padding: 30px 10px 1px 10px;
  margin: 30px 10px 1px 10px;
}

.lead {
  color: black;
  font-size: 12px;
  text-align: center;
}

.quizquest {
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
}

#quest-li {
  color: whitesmoke;
}

h1 {
  color: wheat;
  text-align: center;
}

h2 {
  color: bisque;
  text-align: center;
}

label {
  font-weight: 100;
  font-size: 13px;
}

hr {
  height: 1px;
  color: goldenrod;
  background-color: goldenrod;
  border: none;
}

.form-group {
  font-weight: bolder;
}

#quizResult {
  font-size: 60px;
  color: chartreuse;
  font-weight: 900;
  text-align: center;
}

.jumbotron {
  text-align: center;
  height: 90%;
  width: 40%;
  float: center;
  vertical-align: middle;
}

li {
  font-size: 30px;
}
